extends ../layout

block content
	.container-fluid#event-list

		.row
			h3 Begin your adventure...
			h3 Start at YOUR_LOCATION and go to #{eventLocation[0].name}
			iframe(class='map-div', width='100%', height='300', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=12128%20SE%2013th%20St%2C%20Bellevue%2C%20WA%2C%20United%20States&destination=#{eventLocation[0].location.lat},#{eventLocation[0].location.lng}&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			.col-xs-6.detail-row
				span.event-text #{eventLocation[0].name}
				br  
				- var ratingNum = 0
				- console.log(eventLocation[0].rating);
					- for (var i=0; i < Math.floor(eventLocation[0].rating); i++)
						span.event-text.fa.fa-star						
				- var remaining = 5 - eventLocation[0].rating
					- if (remaining%1 != 0)
						span.event-text.fa.fa-star-half-o
							- var remaining = remaining - 1
					- if (remaining > 0)
						- for (var i=0; i < remaining; i++)
							span.event-text.fa.fa-star-o
				br
				span.detail-text #{eventLocation[0].location.address}
				br
				span
					a(class='detail-text' href='#{eventLocation[0].url}' target='_blank') More Details...
			.col-xs-6.detail-row
				.pull-right.button.btn.btn-default.btn-icon(type='button')
					img(src='../img/refresh.png', alt='refresh', width='20')
				.badge-div
					a.pull-right.button.btn.btn-default.btn-icon.badge-indiv(href='http://www.northwestern.edu/uservices/transportation/shuttles/chicago/index.html', target='_blank', type='button')
						img(class='badge-img', src='../img/bus.png', alt='shuttle', width='40')
						p.icon-label NU Shuttle
					if eventLocation[0].hasWildcardDiscount
						a.pull-right.button.btn.btn-default.btn-icon.badge-indiv(href='#', target='_blank', type='button')
							img(class='badge-img', src='../img/paw.png', alt='wildcat discount', width='40')
							p.icon-label Discount
		.row
			h3 Once you've visited #{eventLocation[0].name} head over to #{foodLocation[0].name}
			iframe(class='map-div', width='100%', height='300', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=#{eventLocation[0].location.lat},#{eventLocation[0].location.lng}&destination=#{foodLocation[0].location.lat},#{foodLocation[0].location.lng}&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			.col-xs-6.detail-row
				span.event-text #{foodLocation[0].name}
				br  
				- var ratingNum = 0
				- console.log(foodLocation[0].rating);
				- for (var i=0; i < Math.floor(foodLocation[0].rating); i++)
					span.event-text.fa.fa-star						
				- var remaining = 5 - eventLocation[0].rating
					- if (remaining%1 != 0)
						span.event-text.fa.fa-star-half-o
							- var remaining = remaining - 1
					- if (remaining > 0)
						- for (var i=0; i < remaining; i++)
							span.event-text.fa.fa-star-o
				br
				span.detail-text #{foodLocation[0].location.address}
				br
				span
					a(class='detail-text' href='#{foodLocation[0].url}' target='_blank') More Details...
			.col-xs-6.detail-row
				.pull-right.button.btn.btn-default.btn-icon(type='button')
					img(src='../img/refresh.png', alt='refresh', width='20')
				.badge-div
					a.pull-right.button.btn.btn-default.btn-icon.badge-indiv(href='http://www.northwestern.edu/uservices/transportation/shuttles/chicago/index.html', target='_blank', type='button')
						img(class='badge-img', src='../img/bus.png', alt='shuttle', width='40')
						p.icon-label NU Shuttle
					if foodLocation[0].hasWildcardDiscount
						a.pull-right.button.btn.btn-default.btn-icon.badge-indiv(href='#', target='_blank', type='button')
							img(class='badge-img', src='../img/paw.png', alt='wildcat discount', width='40')
							p.icon-label Discount
		.row
			h3 After your fun journey, head home to LOCATION_3
			iframe(class='map-div', width='100%', height='300', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=#{foodLocation[0].location.lat},#{foodLocation[0].location.lng}&destination=1927%20Orrington%20Avenue%2C%20Evanston%2C%20IL%2C%20United%20States&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			.button.btn.btn-default.btn-lg.btn-clear(type='button') Save
			.pull-right.button.btn.btn-default.btn-lg.btn-clear(type='button') Share