extends ../layout

block content
	.container-fluid
		.jumbotron.text-center
			.box
				h1#title begin your adventure 
				hr
				h1.fa.fa-sort-asc
		.row.text-center
			h3 start at home and go to 
				span #{eventLocation[0].name}
			iframe(class='map-div', width='100%', height='300', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=#{latHome},#{longHome}&destination=#{eventLocation[0].location.lat},#{eventLocation[0].location.lng}&mode=transit&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			.col-md-6.detail-row
				span.event-text #{eventLocation[0].name}
				br  
				- var ratingNum = 0
				- console.log(eventLocation[0].rating);
					- for (var i=0; i < Math.floor(eventLocation[0].rating); i++)
						span.event-text.fa.fa-star						
				- var remaining = 5 - eventLocation[0].rating
					- if (remaining%1 != 0)
						span.event-text.fa.fa-star-half-o
							- var remaining = remaining - 1
					- if (remaining > 0)
						- for (var i=0; i < remaining; i++)
							span.event-text.fa.fa-star-o
				br
				span.detail-text #{eventLocation[0].location.address}
				br
				span
					a(class='detail-text' href='#{eventLocation[0].url}' target='_blank') More Details...
			.col-md-6.detail-row
				form(method='POST')
					input(type='hidden', name='_csrf', value=_csrf)
					.pull-right.button.btn.btn-default.btn-refresh(type='submit' formaction='/refresh-event-food-#{eventLocation[0].id}')
				.badge-div
					a.pull-right.button.btn.btn-default.btn-icon.badge-indiv(href='http://www.northwestern.edu/uservices/transportation/shuttles/chicago/index.html', target='_blank', type='button')
						img(class='badge-img', src='../img/bus.png', alt='shuttle', width='40')
						p.icon-label NU Shuttle
					if eventLocation[0].hasWildcardDiscount
						a.pull-right.button.btn.btn-default.btn-icon.badge-indiv(href='#', target='_blank', type='button')
							img(class='badge-img', src='../img/paw.png', alt='wildcat discount', width='40')
							p.icon-label Discount
		.row.text-center
			h3 once you've visited 
				span #{eventLocation[0].name} 
				span head over to 
				span #{foodLocation[0].name}
			iframe(class='map-div', width='100%', height='300', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=#{eventLocation[0].location.lat},#{eventLocation[0].location.lng}&destination=#{foodLocation[0].location.lat},#{foodLocation[0].location.lng}&mode=transit&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			.col-md-6.detail-row
				span.event-text #{foodLocation[0].name}
				br  
				- var ratingNum = 0
				- console.log(foodLocation[0].rating);
				- for (var i=0; i < Math.floor(foodLocation[0].rating); i++)
					span.event-text.fa.fa-star						
				- var remaining = 5 - eventLocation[0].rating
					- if (remaining%1 != 0)
						span.event-text.fa.fa-star-half-o
							- var remaining = remaining - 1
					- if (remaining > 0)
						- for (var i=0; i < remaining; i++)
							span.event-text.fa.fa-star-o
				br
				span.detail-text #{foodLocation[0].location.address}
				br
				span
					a(class='detail-text' href='#{foodLocation[0].url}' target='_blank') More Details...
			.col-md-6.detail-row
				form(method='POST')
					input(type='hidden', name='_csrf', value=_csrf)
					.pull-right.button.btn.btn-default.btn-refresh(type='submit' formaction='/refresh-food-event-#{foodLocation[0].id}')
				.badge-div
					a.pull-right.button.btn.btn-default.btn-icon.badge-indiv.text-center(href='http://www.northwestern.edu/uservices/transportation/shuttles/chicago/index.html', target='_blank', type='button')
						img(class='badge-img', src='../img/bus.png', alt='shuttle', width='40')
						p.icon-label NU Shuttle
					if foodLocation[0].hasWildcardDiscount
						a.pull-right.button.btn.btn-default.btn-icon.badge-indiv.text-center(href='#', target='_blank', type='button')
							img(class='badge-img', src='../img/paw.png', alt='wildcat discount', width='40')
							p.icon-label Discount
		.row.text-center
			h3 after your fun journey, head home!
			iframe(class='map-div', width='100%', height='300', frameborder='0', style='border: 0;', src='https://www.google.com/maps/embed/v1/directions?origin=#{foodLocation[0].location.lat},#{foodLocation[0].location.lng}&destination=#{latHome},#{longHome}&mode=transit&key=AIzaSyC7YNko7N6GkPnFmWIrRl1pNUzIsEwZFbk')
		.row
			form(method='GET')
				input(type='hidden', name='_csrf', value=_csrf)
				if (user)
					button.button.btn.btn-default.btn-lg.btn-clear(type='submit', formaction='/save-link-#{EventsID}') Save
				else
					| Log in to save.
				a.pull-right.button.btn.btn-default.btn-lg.btn-clear(type='submit' href="mailto:?subject=Join me on this trip!?content?body=See more here: http://onedayinchicago.herokuapp.com/save-link-#{EventsID}") Share

	script(type='text/javascript').
		$(document).ready(function(){
			//Check if browser supports W3C Geolocation API
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
			} 
			//Get latitude and longitude;
			function successFunction(position) {
				var latHome = position.coords.latitude;
				var longHome = position.coords.longitude;
				console.log(latHome);
				console.log(longHome);
			}

			function errorFunction() {
				console.log("error");
			}
		})














